<div class = "customer_container">
  <form>
  <div class = "container_customer">
    <h5>MONGO DATABASE CONNECTION DEMO</h5>

      <div>
        <mat-card class="mat_container">

          <mat-card-title>Mongo Database.</mat-card-title>
            <!--<h3>Mongo Database. </h3> -->
            <mat-card-content>MongoDB is a source-available cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with optional schemas.</mat-card-content>
            <!--<p>MongoDB is a source-available cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with optional schemas.</p> -->
            <mat-card-content>The pourpuse of little app is to demostrate that we can connect a non-relational database usgin the Java Spring Boot with RestController to connect it. Also, we use Agular as a front end</mat-card-content>
            <!-- <p>The pourpuse of little app is to demostrate that we can connect a non-relational database usgin the Java Spring Boot with RestController to connect it. Also, we use Agular as a front end</p> -->
            <mat-card-content>As a good practice, in this app you can see how to apply angular's templates that help to improve the front presentation, Also you can check just a little implementation of CSS</mat-card-content>
            <!--<p>As a good practice, in this app you can see how to apply angular's templates that help to improve the front presentation, Also you can check just a little implementation of CSS</p> -->

        </mat-card>
      </div>
  </div>
</form>
</div>
