 <div class="container_lstcust">
    <div class="lsrcust_container">
      <div>
        <h3>LIST OF CUSTOMERS</h3>
      </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
      <!-- Position Column -->
      <ng-container matColumnDef="userid">
        <th mat-header-cell *matHeaderCellDef>User Id</th>
        <td mat-cell *matCellDef="let element"> {{element.userid}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="birthDate">
        <th mat-header-cell *matHeaderCellDef> Birth Date </th>
        <td mat-cell *matCellDef="let element"> {{element.birthDate}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="emailadd">
        <th mat-header-cell *matHeaderCellDef> Email Address </th>
        <td mat-cell *matCellDef="let element"> {{element.emailadd}} </td>
      </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="ccnumber">
          <th mat-header-cell *matHeaderCellDef> Credit Card Number </th>
          <td mat-cell *matCellDef="let element"> {{element.ccnumber}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="ccname">
          <th mat-header-cell *matHeaderCellDef> Credit Card Name Holder </th>
          <td mat-cell *matCellDef="let element"> {{element.ccname}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="phnumber">
          <th mat-header-cell *matHeaderCellDef> Phone Mumber </th>
          <td mat-cell *matCellDef="let element"> {{element.phnumber}} </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <button mat-raised-button color='primary' type='submit' [routerLink]="['/']"> Exit </button>
  </div>
</div>

